npm-debug.log
**/Dockerfile*
.dockerignore
.git
README.md
LICENSE
.devcontainer
.github
.vscode
deployments
helm-chart
**/dist
**/test
**/tests
**/.next
**/node_modules
**/.pnpm-store
**/.cache
out
**/.env
**/.env.*
**/*.env
