services:
  install-deps:
    build:
      target: workspace
      context: .
    command: npm ci
    volumes:
      - .:/app

  workspace:
    build:
      target: workspace
      context: .
    command: /bin/sh -c "while sleep 1000; do :; done"
    volumes:
      - .:/app
    depends_on:
      install-deps:
        condition: service_completed_successfully

  app:
    build:
      target: workspace
      context: .
    command: npm run dev
    volumes:
      - .:/app
    environment:
      API_URL: http://emulator:4004/api
      API_TOKEN: 111111111-2222-3333-44444-555555555555
    ports:
      - "127.0.0.1:4005:4005"
    depends_on:
      install-deps:
        condition: service_completed_successfully

  emulator:
    image: ghcr.io/badrap/emulator:0.17.14
    environment:
      APP_URL: http://app:4005/app
    ports:
      - "127.0.0.1:4004:4004"
